.wrapper {
   width: 100%;
   height: 100%;
   overflow: hidden;

   /* for the children */
   display: flex;
   flex-direction: column;
}

.content {
   width: 100%;
   height: 100%;
   padding: 0 10px 5px 10px;
   background-color: white;
   overflow: hidden;

   flex: 1;

   /* for the children */
   display: flex;
   flex-direction: column;
}